*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.body{
    background-color: rosybrown;
}
.btn{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 12px 8px;
    border-radius: 8px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.border{
    width: 50%;
    height: 3px;
    background-color: blueviolet;
}
.image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.image-container img{
    justify-content: space-around;
    width: 20%;
    /* height: 230px; */
    border: 2px solid black;
}